.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    max-width: 100vw;
    margin: auto;
    max-width: 90%;
}

.product-card{

    max-width: 300px;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    
}

#product-img{
    padding-top: 30px;
    margin-left: 25px;
    width: 250px;
}

#price{
    font-size: 28px;
    font-weight: 800;
}

#price-original{
    font-size: 16px;
    text-decoration: line-through;
    font-weight: 300;
}



button{
    padding: 10px;
    background-color: white;
    border-radius: 32px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    background-color:rgb(239, 239, 62);
    width: 80%;
    margin-left: 25px;
    margin-right: 25px;

}

.button-ofs{
    padding: 10px;
    background-color: rgb(252, 52, 52);
    color: white;
    border-radius: 32px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    width: 80%;
    margin-left: 25px;
    margin-right: 25px;

}

.product-action{
    display: flex;
    justify-content: space-between;
}

@media (max-width:1100px){
.container{
    grid-template-columns:repeat(3,1fr);
   
}
}
@media (max-width:768px){
.container{
    grid-template-columns:repeat(2,1fr);
     max-width: 90%;
}

}
@media (max-width:420px){
.container{grid-template-columns:1fr}
}