body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "Syne", sans-serif;
}

#nav-img{
    position: absolute;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    opacity: 70%;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a{
    text-decoration: none;
     color: #ffffff;
     font-size: 1.1rem;
}

.nav-action button{
    font-size: 1rem;
    background-color: transparent;
    border-color: #ffffff;
    border-style:solid;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    color: #ffffff;
}

header{
    max-width: 90%;
    margin: auto;
}
header div{
    
}

header div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50vh;
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding: 5px 12px;
    align-items: center;
    list-style: none;
}
header div ul li{
    display: flex;
    gap: 10px;
    align-items: center;
}
header div ul li img{
    background-color: #eaecf3;
    padding: 1rem;
    border-radius: 1rem;
}
header div ul li div {
    line-height: 30%;
    padding: auto;
    /* background-color: #1f65eb; */
 
}

header div ul li div p{
    
    font-weight: 500;
    
}

header div ul li div p:first-child{
    color: #959595;
}



#search-btn{
    background: #1f65eb; color: #eaecf3; 
     border-style:solid;
     border-color:#1f65eb;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-weight: 400;
    font-size: large;
}


.Catelog{
    margin-top: 20vh;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.property-card{
    max-width: 300px;
    line-height: 130%;
}

.property-card img{ 
    max-width: 300px;
    object-fit: cover;
    border-radius: 1rem;
}
.property-card div {
    display: flex;
    gap: 20px;
}

.property-card div div {
    background-color: #eaecf3;
    padding:0.5rem 1rem;
    border-radius: 1rem;
}

.about{
    max-width: 90%;
    margin: auto;
    display: flex;
    gap: 100px;
    margin-top: 10vh;
    align-items: baseline;
}