body{
    margin:5rem auto;
    max-width: 600px;
    text-align: center;
}

.container{
    border: 1px solid black;
    padding: 2rem 0rem;
}

input{
    padding: 0.5rem 1rem;
    font-size: larger;
    background-color: aliceblue;
    margin-left: 1rem;
    font-weight: 600;
}

li{
    list-style:square;
    font-size: 24px;
    padding-top: 0.7rem;
    font-weight: 500;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: start;
}

