.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    max-width: 100vw;
}


img{
    max-width: 100%;
}

@media (max-width:1100px){
.container{grid-template-columns:repeat(3,1fr)}
}
@media (max-width:768px){
.container{grid-template-columns:repeat(2,1fr)}
}
@media (max-width:420px){
.container{grid-template-columns:1fr}
}