/* css reset  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  /* reset all font weight */
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role*/
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;

}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

iframe:hover,
img:hover{
  scale: 1.05;
  transition: all 1s ease;
}

i:hover {
  scale: 1.8;
  transition: all 1s ease;
  transform: rotate(360deg);
}

/* --------- style values --------------*/

:root {
  --clr-primary: #5800FF;
  --clr-secondary: #7752FE;
  --clr-accent: #8E8FFA;
  --clr-neutral: #C2D9FF;
  --max-width: 1250px;
  --padding: 1rem;

  --ff-primary: font-family:"Plus Jakarta Sans",
    sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  --fs-100: 0.5rem;
  --fs-200: 0.75rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
  --fs-500: 1.5rem;
  --fs-600: 2.25rem;
  --fs-700: 3.5rem;
  --fs-800: 4.5rem;


  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.9rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

}

/* utility class */

.container {
  max-width: 75vw;
  padding-top: 1.8rem;
  margin: auto;
}

@media (max-width : 980px) {
  .container {
    max-width: 90vw;
  }
}

.wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

/* ---- custom styling */


/* nav section style */


.nav-link {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-400);
}

.nav-link li {
  color: var(--clr-primary);
  transition: all 0.6s ease;
  cursor: pointer;
}

.nav-link li:hover {
  transform: translateY(-0.35rem);
}

.nav-link a {
  color: var(--clr-primary);
  transition: all 0.6s ease;
  cursor: pointer;
}

.nav-link a:hover {
  color: #EA5455;
}

.category-items {
  display: none;
}

.nav-btn {
  border: none;
  color: white;
  font-size: var(--fs-300);
  background-color: var(--clr-primary);
  border-radius: 10px;
  padding: 0.5rem 1.2rem;
  transition: all 0.70s ease;
}

.nav-btn:hover {
  transform: translateY(-0.3rem);
  scale: 1.05;
  cursor: pointer;
  background-color: var(--clr-secondary);
}


.hamburger-icon {
  display: none;
  cursor: pointer;
}

@media(max-width: 820px) {
  .nav-btn {
    display: none;
  }
}

@media(max-width: 660px) {
  .hamburger-icon {
    display: block;
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    padding: 10px;
    background: rgba(126, 172, 255, 0.2);
    border-radius:  0 0 25px 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(126, 172, 255, 0.70);
  }

  .nav-link a {
    color: var(--clr-primary);
    font-weight: var(--fw-700);
    font-size: var(--fs-500);
  }


  .nav-link.active{
    transform: translateY(0%);
      padding-top: 7rem;
  }

  .hamburger-icon.active{
    position: absolute;
    z-index: 1000;
    right: 3rem;
    transition: all 1s ease;
    transform: rotate(360);
  }
}





/* subcribe section */

.subscribe-container {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  justify-content: center;
  margin: auto 0;
}

.wrapper-subscribe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.wrapper-subscribe h1 {
  font-weight: var(--fw-800);
  font-size: var(--fs-600);
  color: var(--clr-primary);

}

.wrapper-subscribe p {
  color: gray;
}

.wrapper-subscribe div {
  border-radius: 10px;
  border: 2px solid var(--clr-accent);
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.wrapper-subscribe input {
  border: none;
}

.wrapper-subscribe input:focus {
  outline: none;
}

.wrapper-subscribe button {
  border-radius: 10px;
  border: 1px var(--clr-neutral);
  padding: 0.5rem 2rem;
  color: white;
  background-color: var(--clr-primary);
  transition: all 1s ease;
}

.wrapper-subscribe button:hover {
  scale: 1.05;
  background-color: var(--clr-secondary);
}


/* article style */

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 1rem;
}

.article-container div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.7rem;
}

.article-container div img {
  width: 100%;
  object-fit: cover;

}

.article-container div h1 {

  font-family: var(--fs-500);
  font-size: var(--fs-400);
}

.article-container div p {
  color: gray;
}

.article-container div button {
  color: var(--clr-primary);
  background-color: var(--clr-neutral);
  border: none;
  border-radius: 5px;
  padding: 0.1rem 1rem;
  font-weight: var(--fw-600);
}

.article-container div button:hover {
  scale: 1.05;
}

#article-head-text {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
}

#article-head-btn {
  color: white;
  background-color: var(--clr-secondary);
}

/* section 2 */

.container-weekly {
  background-color: var(--clr-accent);
  display: flex;
  color: white;
  padding: 3rem;
  gap: 2rem;
  margin-top: 2rem;
}

.container-weekly article {
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: start;
  align-items: start;
}

.container-weekly article span {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container-weekly article span img {
  border-radius: 100%;
  border: 2px solid var(--clr-primary);
}

.container-weekly article h1 {
  font-weight: var(--fw-800);
  font-size: var(--fs-600);
  text-shadow: 2px 2px 8px #d2d1c0;
}

.container-weekly article button {
  color: white;
  background-color: var(--clr-primary);
  padding: 0.2rem 1rem;
  border: none;
  font-weight: var(--fw-700);
  border-radius: 5px;
}

.container-weekly article button:hover {
  scale: 1.05;
  background: transparent;
  transition: all 0.3s ease;
}

.container-weekly article img {
  object-fit: cover;
  border-radius: 5px;
}

.container-weekly div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.container-weekly div h2 {
  font-weight: var(--fw-800);
  font-size: var(--fs-600);
  color: var(--clr-primary);
  text-shadow: 2px 2px 8px #ffffff;
}

.container-weekly div article h3 {
  font-weight: var(--fw-700);
  font-size: var(--fs-400);
}

.container-weekly div article p {
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  color: black;
  opacity: 0.7;
}


/* section 3 article end */


.container-last {
  display: flex;
  gap: 1.2rem;
  margin: 1.2rem 0;
}

.container-last div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

.container-last div button {
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  font-weight: var(--fw-600);
  background-color: var(--clr-primary);
  color: white;
}

.container-last div button:hover {
  background-color: var(--clr-primary);
  color: white;
}

.container-last div h1 {
  font-size: var(--fs-500);
  font-weight: var(--fw-800);
}

.container-last div span {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(0, 0, 0, 0.8);
}

@media (max-width: 600px) {
  .article-container {
    display: flex;
    flex-direction: column;
  }

  .container-weekly {
    flex-direction: column;
    align-items: center;
  }

  .container-weekly article {
    max-width: 100%;
  }

  .container-last {
    flex-direction: column;
  }
}


/* about me section */

#aboutme {
  display: flex;
}

.aboutme-intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}

.aboutme-intro h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-800);
  color: var(--clr-primary);
  margin-top: 2rem;
}

.aboutme-btn {
  padding: 0.5rem 2rem;
  border: none;
  color: white;
  background-color: var(--clr-primary);
  border-radius: 5px;
  transition: all 0.8s ease;
}

.aboutme-btn:hover {
  scale: 1.05;
  transform: translateY(-0.5rem);
  background-color: var(--clr-secondary);

}

#aboutme img {
  scale: none;
  max-height: 70vh;
  min-width: 40vw;
}

.aboutme-icons {
  display: flex;
  gap: 2rem;
}

.aboutme-icons a i {
  color: var(--clr-primary);
  transition: all 0.6s ease;
}

.aboutme-icons a i:hover {
  transform: translateY(-0.5rem);
  scale: 1.3;
  color: var(--clr-secondary);
}

@media (max-width: 660px) {
  .aboutme-intro {
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
  }

  #aboutme img {
    display: none;
  }
}


/* contact us */

#contact {
  display: flex;
}

#contact img {
  max-height: 70vh;
  min-width: 40vw;
}

#contact h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-800);
  color: var(--clr-primary);
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1rem 0;
}

.contact-form input {
  text-align: center;
  height: 2.5rem;
  /* width: 25rem; */
  border: 2px solid var(--clr-primary);
  border-radius: 10px;
}

.contact-form input:focus {
  outline: none;
}

.contact-btn {
  color: white;
  background-color: var(--clr-primary);
  font-weight: var(--fw-700);
  cursor: pointer;
}

.contact-btn:hover{
  background-color: var(--clr-accent);
}

@media (max-width: 730px) {

  #contact {
    margin-top: 2.5rem;
  }

  #contact img {
    display: none;
  }

  #contact div {
    text-align: center;
    margin: auto;
  }

  #contact h1 {
    margin-bottom: 2rem;
  }
}


/* footer section */

footer {
  font-weight: var(--fw-400);
  font-size: var(--fs-300);
  background-color: var(--clr-primary);
  margin-top: 1rem;
  padding: 2rem 0;

}

.container-footer {
  display: flex;
  gap: 1.3rem;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}

.container-footer div h1 {
  color: white;
  font-size: var(--fs-400);
  font-weight: var(--fw-800);
  padding-bottom: 1rem;
}

.container-footer div ul li {
  padding-top: 0.5rem;
}

.container-footer div ul li a {
  color: whitesmoke;
  opacity: 0.9;
  font-weight: var(--fw-600);
}

.footer-icons {
  padding: 1rem 0;
}

.footer-icons a {
  color: white;
  margin-right: 2rem;
}

@media (max-width: 900px) {

  .container-footer {
    max-width: 90vw;
    margin: auto;
  }

  .footer-followus {
    padding-top: 1rem;
    text-align: center;
    margin: auto;
  }

  .footer-followus p {
    padding-top: 0.5rem;

  }

  .footer-icons a {
    color: white;
    margin-right: 1rem;
  }
}